:root {
    --theme-u: #4cf;
    --theme: #2af;
    --theme-d: #08f;
    --theme-gradient: linear-gradient(155deg, #2af, #6ef);
}

body {
    background: #f5f5f7;
    -webkit-font-smoothing: antialiased;
    color: rgb(29, 29, 31);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    font-style: normal;
    font-synthesis: none;
    font-weight: 400;
    letter-spacing: 0.23px;
}

.shadow {
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
        1px 6px 12px rgba(39, 44, 49, 0.04);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica", sans-serif;
}

.ptr {
    cursor: pointer;
}

.katex-html {
    display: none;
}

.bgf {
    background: #fff;
}