// ARCHIVE BOX
#archive_links {
    & li {
        list-style-type: none;
        border-bottom: 1px solid #fff;
        font-size: 1.25rem;
        &:hover a {
            text-decoration: underline;
        }
    }
}


// POST BOX
.post_box{
    width: 320px;
    background:#fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 8px 28px 50px rgba(39,44,49,.07),1px 6px 12px rgba(39,44,49,.04);
    & .title{
        font-size: 1.33rem;
        padding: 5px 0;
        height: 2.25em;
    }
    & img{
        background: #fefefa;
        width:320px;
        height:200px;
        object-fit: cover;
    }
    & .description{
        height: 5rem;
        color: #444;
        font-family: Georgia, serif;
    }
    & .date{
        color: var(--theme);
    }
}