<nav class="ƒ ∆-bw fade-down" id="globalNav">
    <div class="ƒ" id="nav-hero">
        <div class="ƒ space-btm" style="border-bottom:2px solid #000">
            <a href="/equations">
                <img src="/assets/icons/if.svg" alt="Logo" size="icon" />
            </a>
            <a href="/">iFactorial</a>
        </div>
        <div class="d-n"> - iFactorial</div>
        <svg size="icon" viewBox="-4 -4 36 36" fill="none" stroke="currentcolor" style="padding-left:10px;">
            <circle cx="14" cy="14" r="12" />
            <path d="M23 23 L30 30" />
        </svg>
    </div>
    <div class="space-btm">
        <svg id="mode-change" size="icon" viewBox="0 0 32 32" fill="none" stroke="currentcolor">
            <path d="M14 2C 9 2 3 7 3 15 3 23 9 29 17 29 25 29 30 23 30 18 19 25 7 13 14 2Z" />
        </svg>
    </div>
</nav>