<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://os.nukes.in/OUI/css/global.css">
    <link rel="stylesheet" href="https://os.nukes.in/OUI/css/keyframes.css">

    <link rel="stylesheet" href="/assets/styles.css">

    <script src="https://os.nukes.in/helpers/RoninScript.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js"></script>

    <script>
        MathJax = { options: { enableMenu: false } };
    </script>

    <title>{{site.title}}</title>
</head>

<body class="w-100" xmlns:svg="http://www.w3.org/2000/svg">
    {% include objects/nav.html %}

    <main class="w-100">
        {{content}}
    </main>

    {% include objects/footer.html %}

    <script src="/assets/js/globals.js"></script>
</body>

</html>