<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://api.nukes.in/cms/css?name=keyframes.css">
    <link rel="stylesheet" href="https://api.nukes.in/cms/css?name=global.css">

    <link rel="stylesheet" href="/assets/bundle.css">

    <script id="MathJax-script" async defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js"></script>

    <script>
        MathJax = {
            tex: {
                inlineMath: [
                    [ '$', '$' ]
                ]
            },
            options: {
                enableMenu: false
            }
        };
    </script>

    <style>
        .MathJax svg {
            margin: 0;
        }
    </style>

    <title>{{site.title}}</title>

    <script>
        const F = ( id ) => document.querySelector( id );
        const FA = ( id ) => [ ...document.querySelectorAll( id ) ];
    </script>
</head>

<body class="w-100" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    {% include nav.html %}

    <main class="w-100">
        {{content}}
    </main>


    <script src="/assets/js/globals.js"></script>

    <div id="wastes"></div>

    <!-- Keep It simple no footer -->
</body>

</html>