---
layout: default
permalink: /equations/
---

<style>
    article div {
        background: #fff;
        border-radius: 5px;
        min-height: 3rem;
        box-shadow: 0 2px 2px 1px #0001;
    }

    article span {
        font-weight: 300;
    }
</style>

<section class="ƒ">
    <article class="p10 m10 fw7">
        <div class="p10 m10">
            General Relativity <br />
            <span>
                G<sub>µν</sub> = 8πG(T<sub>µν</sub> + ρ<sub>ν</sub>g<sub>µν</sub>)
            </span>
        </div>

        <div class="p10 m10">
            Calculus <br />
            <span>
                ∫<sub>a</sub><sup>b</sup> f'(x)dx = f(b) - f(a)
            </span>
        </div>

        <div class="p10 m10">
            Pythogoras Theorem <br />
            <span>
                a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup>
            </span>
        </div>

        <div class="p10 m10">
            Infinitessimal <br />
            <span>
                1 = 0.999999999...
            </span>
        </div>

        <div class="p10 m10">
            Special Relativity <br />
            <span>
                t' = t <sup>1</sup>&frasl;<sub>√1 - <sup>v<sup>2</sup></sup>&frasl;<sub>c<sup>2</sup></sub></sub>
            </span>
        </div>

        <div class="p10 m10">
            Standard Model <br />
            <span>
                L<sub>SM</sub> =
                <br />
                <!-- KE + Self Interaction of Bosons -->
                &frac14; W<sub>µν</sub>&middot;W<sup>µν</sup> - &frac14; B<sub>µν</sub>B<sup>µν</sup>
                - &frac14; G<sub>µν</sub><sup>a</sup>G<sup>µν</sup><sub>a</sub>
                <br />
                <!-- KE + ElectroWeak Interaction of Fermions -->
                L̄γ<sup>µ</sup>(i∂<sub>µ</sub> - &frac12;gτ&middot;W<sub>µ</sub> - &frac12;g'YB<sub>µ</sub>)L
                + R̄γ<sup>µ</sup>(i∂<sub>µ</sub> - &frac12;g'YB<sub>µ</sub>)R
                <br />
                <!-- W+-, Z, gamma, Higgs Masses & Couplings -->
                &frac12;|(i∂<sub>µ</sub> - &frac12;gτ&middot;W<sub>µ</sub> - &frac12;g'YB<sub>µ</sub>)|<sup>2</sup>
                - V(ø)
                <br />
                <!-- Quark & Gluon Interactions -->
                g"(q̄γ<sup>µ</sup>T<sub>a</sub>q)G<sup>a</sup><sub>µ</sub>
                <!-- Fermion Masses & Couplings to Higgs -->
                + (G<sub>1</sub>L̄øR + G<sub>2</sub>L̄ø<sub>c</sub>R + hc)
            </span>
        </div>
    </article>
    <article class="p10 m10 fw7">
        <div class="p10 m10">
            Dirac Equation <br />
            <span>
                [iħ A<sup>µ</sup> γ<sup>µ</sup><sub>(a)</sub> ∂<sub>µ</sub> - m<sub>0</sub>c]
                ψ = 0
            </span>
        </div>

        <div class="p10 m10">
            Euler's Equation <br />
            <span>
                V - E + F = 2
            </span>
        </div>

        <div class="p10 m10">
            Euler Lagrange Equation <br />
            <span>
                <sup>d</sup>&frasl;<sub>dt</sub> (<sup>∂L</sup>&frasl;<sub>∂q̇</sub>) =
                <sup>∂L</sup>&frasl;<sub>∂q</sub>
            </span>
        </div>

        <div class="p10 m10">
            Callan-Symanzik Equation <br />
            <span>
                [M<sup>∂</sup>&frasl;<sub>∂M</sub> + β(g) <sup>∂</sup>&frasl;<sub>∂g</sub>]
                G<sup>n</sup>(x<sub>1</sub>,x<sub>2</sub>,...,x<sub>n</sub>;M,g)
                = 0
            </span>
        </div>

        <div class="p10 m10">
            Minimal Surface Equation <br />
            <span>
                A(u) =
                ∫<sub>Ω</sub> (1 + |∇u|<sup>2</sup> )<sup>&frac12</sup>
                dx<sub>1</sub>...dx<sub>n</sub>
            </span>
        </div>

        <div class="p10 m10">
            Euler Equation (Complex) <br />
            <span>
                e<sup>iπ</sup> + 1 = 0
            </span>
        </div>

        <div class="p10 m10">
            Boltzman Entropy <br />
            <span>
                S = k log W & dS &ge; 0
            </span>
        </div>
    </article>
</section>